server:
  port: 8017

logging:
  level:
    ROOT: WARN
    az.kapitalbank.atlas: DEBUG

spring:
  application:
    name: ms-demo
  messages:
    basename: i18n/messages
    encoding: UTF-8
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher #issue with swagger & actuator
  cloud:
    vault:
      enabled: false
    consul:
      enabled: false